html {
    font-family: Harrington;
    font-size: 70%;
}

body{
    font-family: Harrington;
    font-size: 18px;
}

.menu{
    font: bold 12px/18px Harrington;
    margin: 1% auto;
}

.head-main{
    font-family: HARRINGTON;
    font-size: 3.5em;
}
.reservation form{
    font-size: 17px;
    width: 80%;
    border: 2px dotted #808080;
    margin: 5% auto;
    border-radius: 8px;
    font-family: Harrington;
}
.reservation input[type="text"] {
    font-size: 17px;
    width: 85%;
    border top:1px dotted #090B0D;
    border-right: 2px dotted #424549;
    border-bottom: 2px dotted #424549;
    border-left:1px, dotted #090BOD;
    margin: 15px 1.5em;
    border-radius: 9px;
    font-family:Harrington;
}
.terms {
    font-size: 16px; 
    font-family: Harrington;
}
.submit input[type="submit"] {
    
    border: dotted;
    font-family: Harrington;
    margin: 1px,4%;
    width:35%;
    font-size: 13px;
    border-radius: 8px;
}

.reservation h2 span{
    width: 90%;
    border: dotted;
    text-align: center;
    margin: 1 auto;
    font-size: 1.8em;
}





/* LightBox CSS Code */

.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: right;
    width: 23.7%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }